@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');



 /* NAVIGATION*/

nav, .nav-links{
    display: flex;

}

nav{
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: fixed;
    width: 100vw;
    z-index: 10;
    letter-spacing: 3px;
}

.nav-links{
    gap: 6rem;
    list-style: none;
    font-size: 17px;

}

.logo{
    width: 200px;
}
.logo:hover{
    cursor: default;
}

a{
    font-family: "Roboto Serif", serif;
    font-size: 17px;
    color: var(--on-primary);
    text-decoration: none;
    font-weight: 400;
}
a:hover{
    color: var(--Outerspace);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: var(--Outerspace);
    font-weight: 400;
}

.btn{
    background: var(--orange);
    color: var(--on-background);
    border: 2px solid var(--on-background);
}
.btn:hover{
    background: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
}

.btn-L, .btn{
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1rem;
    font-weight: 550;
}

.btn-L{
    background: var(--primary-color);
    color: var(--on-background);
    border: 2px solid var(--on-background);
}
.btn-L:hover{
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/*SECTIONS*/
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*WELCOME*/
.home-content{
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.Welcome-text{
    padding-left: 10px;
}
h1{
    font-size: 4rem;
}
.think-img{
    width: 350px;
}

/*ABOUT*/

.abt-content p{
    margin: 1rem;
    font-size: 1.2rem;
    width: 40rem;
}

h2{
    margin: 2rem;
}


.news-content {
    width: 80%;
    align-items: center;
    text-align: center;
}

.news-content b{
    padding-bottom: 0.5rem;
    font-size: xx-large;

}

.news-content img{
    width: 70%;
}
.news-content p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.news-content button{
    margin-top: 1rem;
    font-size: 1rem;
}

.news-content{
    width: 90%;
}
.news-end p{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
.con-btn{
    margin: 3rem;
}

footer{
    background-color: var(--primary-color);
    color: var(--on-background);
    width: 100%;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 1rem;
    bottom: 0;
    height: 35vh;
}

.connect{
    padding-bottom: 2rem;
    font-size: larger;
}
#CONNECT{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.con-content p{
     font-size: x-large;


}